<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Product</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/transaction">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/:id">User</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <form action="/products" method="get" style="text-align: center;">
        <input type="submit" class="btn btn-light" value="All"> 
        <input type="submit" class="btn btn-light" value="T-shirts" name="sortCategory"> 
        <input type="submit" class="btn btn-light" value="Dresses" name="sortCategory">
        <input type="submit" class="btn btn-light" value="Jackets" name="sortCategory">
    </form>
    <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% product.forEach((item, index) => { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="<%= item.imageUrl %>" class="card-img-top" alt="product pict">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.name %></h5>
                            <p class="card-text"><%= item.description %></p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category: <%= item.Category.name %></li>
                                <li class="list-group-item">Stock: <%= item.stock %></li>
                                <li class="list-group-item">Price: <%= item.formatPrice %></li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary"><a href="/" style="color: white; text-decoration: none;">Add To Card</a></button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
